* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

body {
  background-color: grey;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.container-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.container-nav div {
  border: 0px solid white;
  padding: 0 10px;
  color: white;
}

.brand {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.brand .logo {
  height: 100px;
  padding: 10px 2px;
}

.brand .name {
  font-size: 2rem;
  padding-bottom: 10px;
}

.nav-links ul {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  list-style-type: none;
  color: white;
  border: 2px solid black;
}

.nav-links ul li {
  padding: 0 5px;
  font-size: 1rem;
}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: blue;
  color: whitesmoke;
}

.box-3 {
  background-color: yellow;
}

.brand-image:hover,
i.material-icons:hover {
  color: yellow;
  background-color: steelblue;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: pink;
  }

  .nav-links {
    width: 100%;
  }

  .search-icon {
    display: none;
  }

  .menu-icon {
    order: 1;
  }

  .brand {
    order: 2;
    flex-grow: 0;
  }

  .cart {
    order: 3;
  }

  .nav-links {
    order: 4;
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: powderblue;
  }

  .container-nav {
    padding: 0 10px;
  }

  .footer_links {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: rgb(22, 238, 137);
  }

  .container-nav {
    justify-content: center;
  }

  .nav-links {
    flex-grow: 1;
  }

  .footer_links {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
